/* ##### Global ##### */
html,
body {
  box-sizing: border-box;
}

.typeset0,
.typeset,
.typeset2,
.typeset3 {
  color: rgb(var(--color-foreground));
  line-height: 1.4;
  letter-spacing: 0;
}

.typeset0 {
  font-size: 1.3rem;
}
.typeset {
  font-size: 1.4rem;
}
.typeset2 {
  font-size: 1.6rem;
}
.typeset3 {
  font-size: 2rem;
}

@media screen and (min-width: 750px) {
  .typeset0 {
   font-size: 1.2rem;
  }
  .typeset {
    font-size: 1.6rem;
  }
  .typeset2 {
    font-size: 1.8rem;
  }
  .typeset3 {
    font-size: 2.4rem;
  }
}